* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header p {
  font-size: 3em;
}

header h2 {

  margin: 5px;
}

p {

  text-align: justify;
  margin: 5px;
}
img {
  width: 100%;
}
.imagem1 {
  max-width: 150px;
  max-height: 100px;
}
a button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  
}

.nav1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10%;
  flex-wrap: wrap;
  text-align: center;

 
}
.nav1 a {
  padding: 5px 14px;
}
header h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
  flex-direction: row;
  text-align: center;
  color: #ffffff;

}
figure{
  color: #555;
  text-align: justify;
}
figcaption{
  margin: 5px;
}

article{
  border: 2px solid #06AA48; 
  margin: 10px;
}

section {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

article {
  border: 2px solid;
  margin: 10px;
  max-width: 360px;
}

footer h4 {
  text-align: center;
  color: #ffffff;
  padding: 15px;
}

button {
  padding: 10px 25px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}





#txtBusca{
  float:left;
  background-color:white;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:32px;
  width:126px;

}

#btnBusca{

  border:none;
  float:left;
  height:32px;
  border-radius:0 7px 7px 0;
  width:80px;
  font-weight:bolder;


  padding: 10px 25px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#divBusca img{
  float:left;
}

.search{
  width: 20px;
  height: 20px;
}




.dark, article{
  border: 2px solid #C060A1; 
}

.dark .headerImg{
  color: #6A097D;
}

.dark .principal, footer.dark, .nav1.dark{
  color: #F1D4D4;
  background-image: linear-gradient(#6A097D, #C060A1);
}

.dark footer{
  color: #F1D4D4;
  background-image: linear-gradient(#6A097D, #C060A1);
}

.dark p{
  color: #F1D4D4;
}
.dark button, figcaption.dark , article.dark {
  background-color: #000000;
  color: #C060A1;
}

.dark, button:hover {
  background-color: rgba(156, 14, 121, 0.8);
}





.white article{
  border: 2px solid #A0E4CB; 
}

.white .headerImg{
  color: #CFF5E7;
}

.white .principal,  footer.white, .nav1.white{
  color: #159bc4;
  background-image: linear-gradient(#4ebdf0, #CFF5E7);
}
.white footer{
  color: #159bc4;
  background-image: linear-gradient(#4ebdf0, #CFF5E7);
}

.white p{
  color: #59C1BD;
}
.white button, figcaption.white, article.white{
  background-color: #CFF5E7;
  color: #0D4C92;
}

.white, button:hover {
  background-color: rgba(24, 94, 185, 0.8);
}